html, body {
    margin: 0;
}
@keyframes drop1 {
    0% {
        top: 0px;
    }
    25% {
        top: 200px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}
@keyframes drop2 {
    0% {
        top: 0px;
    }
    25% {
        top: 300px;
    }
    50% {
        top: 200px;
    }
    75% {
        top: 300px;
    }
    100% {
        top: 0px;
    }
}
main {
    width: 100vw;
    height: 100vh;
}
div {
    margin: 50px 50px;
}
.box1 {
    height: 10vh;
    width: 10vw;
    background: salmon;
    animation: drop1 5s infinite;
    position: absolute;
    top: 10px;
    left: 10px;
}
.box2 {
    width: 10vw;
    height: 10vh;
    background: teal;
    animation: drop2 5s infinite 2s;
    position: absolute;
    top: 10px;
    left: 40vw;
    right: 40vw;
}
.box3 {
    width: 10vw;
    height: 10vh;
    background: aqua;
    position: absolute;
    top: 10px;
    right: 10px;
}
